/target
/target-codex
# Cargo.lock
*.wav
*.pcm
!testdata/ehren-paper_lights-96.pcm
*.opus
*.opuspkt
opus_decode_fuzzer
.DS_Store
ctests/build/
ctests/build-bench/
ctests/build-custom/
ctests/build-nointr/
ctests/build-ffp*/
target/codec-bench/
testdata/dred_vectors/
